.overyal{
    position: relative;
    background-color: aliceblue;
}

.navbarsearch{
left: 0%;
width: 118rem;
height: 200px;
background: rebeccapurple;
position: absolute;
top: 10%;
margin: 15px;
}

.search{
width: 80%;
padding: 20px;
position: absolute;
top: 50%;
margin: 15px;
border: none;
background: no-repeat;
font-size: 30px;
color: black;
}