.test {
    display: flex;
    flex-direction: row;
}
.prev-single {
    position: absolute;
    display: block;
    background: green;
    z-index: 1;
}
.slider-img img{
    width: 80%;
}
.footer-input input{
    width: 550px;
    border: none;
    margin: 10px;
    border-bottom: 1px solid gray;
}
.footer-input label{
    
 
    margin: 5px;
    font-size: 12px;
}
.footer-input {
    margin: 5px;
    padding: 10px;
}