.account-description {
  width: 50%;
  font-size: 12px;
  color: black;
  transition: 0.3s ease-in;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.button_container {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  margin: 5px;

}
