/* .slick-arrow {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
} */
/* .slick-prev {
    z-index: 1;
} */