
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.frame {
  width: 250px;
  overflow: hidden;
}
.box-container {
  display: flex;
}

.box {
  box-sizing: border-box;
  border: 5px solid #FFF;
  background: #00E7FF;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
}

.button {
  background: rgb(255, 248, 248);
  color: rgb(41, 34, 34);
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 50px;
  border-radius: 50%; 
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

.button-2-container {
  display: flex;
}

.button-2 {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #E0E0E0;
  margin: 6px;
  cursor: pointer;
}

.active {
  background: #999;
}
.box-container img {
    width: 250px;
    height: 250px;
}

