.main-pic {
    background-image:url("../assets/12.jpg") ; 
    height: 100vh;
    width: 75vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.main-content {
    line-height: 50px;
    display: flex;
}
