* {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
}
